html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0% 100%);
}
@media screen and (max-width: 992px) {
  #container {
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
  }
}
